<% unless @user.unclaimed_orders.empty? %>
  <h2><%= t("unclaimed_orders") %></h2>

  <table class="order-summary" width="545">
    <thead>
      <tr>
        <th><%= t("order_number") %></th>
        <th><%= t("order_date") %></th>
        <th><%= t("status") %></th>
        <th><%= t("total") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @user.unclaimed_orders.each do |order| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to order.number, order_url(order) %></td>
        <td><%=order.created_at.to_date%></td>
        <td><%= t(order.state).titleize %></td>
        <td><%= number_to_currency order.total %></td>
        <td>
          <%= form_for(:order, :url => claim_order_path(order)) do %>
            <%= submit_tag t("claim_it") %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br />
<% end %>